@charset "ISO-8859-1";

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

form {
	display: flex;
	flex-direcction: row;
	flex-wrap: wrap;
	margin-top: 20px;
	font-size: large;
	/* Esquema del formulario */
	padding: 1em;
	border: 2px solid rgb(102, 102, 102);
	border-radius: 1em;
	background-color: #55B4FF;
}

fieldset div label {
	text-align: left;
}

label  {
	/* Tamaño y alineación uniforme */
	display: inline-block;
	width: 175px;
	text-align: right;
}

input {
	/* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
	font: 1em Roboto;
	/* Tamaño uniforme del campo de texto */
	width: 200px;
	box-sizing: border-box;
	margin: 5px;
	border-radius: 1em;
	padding-left: 10px;
	text-align: left;
}

input:focus {
	/* Destacado adicional para elementos que tienen el cursor */
	border-color: #000;
}

.button {
	display: flex;
	margin-left: 110px; /* mismo tamaño que los elementos de la etiqueta */
}

button {
	padding-inline: 15px;
	font-size: large;
	height: 30px;
	/* Alinear los botones con los campos de texto */
	margin-top: 10px;
	border: 2px solid rgb(102, 102, 102);
	border-radius: 1em;
	/* Este margen adicional representa aproximadamente el mismo espacio que el espacio
     entre las etiquetas y sus campos de texto */
	margin-left: 0.5em;
}

select {
	width:40%;
	text-align: left;
	font-size: medium;
}

fieldset div input {
	margin-left: 100px;
	width: 50px;
}

fieldset div {
	
	display: flex;
	flex-direcction: row;
	flex-wrap: non-wrap;
	justify-content: center;
}

fieldset {
	width: 100%;
	display: inline-block;
}

#cabecera_select {    
	width: 40%;
    margin-right: 15px;
}